# ─── Dependencies ────────────────────────────────────────────────────────────
node_modules/

# ─── Build output ─────────────────────────────────────────────────────────────
out/
*.js.map

# ─── VS Code Extension package ────────────────────────────────────────────────
*.vsix

# ─── Environment / Secrets ────────────────────────────────────────────────────
.env
.envrc

# ─── Logs ─────────────────────────────────────────────────────────────────────
*.log
npm-debug.log*

# ─── Test coverage ────────────────────────────────────────────────────────────
coverage/
.nyc_output/

# ─── macOS ────────────────────────────────────────────────────────────────────
.DS_Store

# ─── Editor / IDE ─────────────────────────────────────────────────────────────
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
